html {
    overflow-x: hidden;
}

body {
    background-color: white;
    overflow-x: hidden !important;
    width: 100%;
    position: relative
}

ul {
    padding-left: 10px;
}

[class^="col-"] {
    padding-bottom: 15px;
}

.row {
    margin-bottom: -15px;
}

.gallery {
    margin-top: 8px;
}

::selection {
    background: #49fcff;
    color: black;
}


.wrapper--background-letters {
    width: 100vw;
    height: 100%;
    z-index: -1000;
    overflow: hidden;
    position: absolute
}

.background-letter {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: 'arial', sans-serif;
    font-size: calc(600px + 1vw);
    color: #f7f7f7;
    font-weight: bold;
    line-height: 0.5;
    z-index: -1000
}

.background-letter--g {
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px)
}

.background-letter--u {
    right: 0;
    -webkit-transform: translate(110px, 325px);
    transform: translate(110px, 325px);
    font-size: calc(450px + 1vw)
}

.background-letter--i {
    left: 0;
    top: 0;
    -webkit-transform: translate(-40px, 325px);
    transform: translate(-40px, 325px);
    line-height: 2.3
}

.background-letter--d {
    right: 0;
    -webkit-transform: translate(110px, 325px);
    transform: translate(110px, 325px);
    font-size: calc(450px + 1vw);
    line-height: 4.3
}

.background-letter--o {
    left: 0;
    top: 0;
    -webkit-transform: translate(-150px, 1700px);
    transform: translate(-150px, 1700px)
}

.wrapper--hero {
    margin-top: 5%;
    margin-bottom: 15%
}

.wrapper--hero__title,
.wrapper--hero__slogan {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.wrapper--hero__title {
    font-weight: 700;
    font-size: 55px;
    color: #404040;
    margin-top: 100px
}

.wrapper--hero__slogan {
    font-size: 17px;
    color: #666666
}

@media screen and (max-width: 767px) {
    .wrapper--hero {
        margin-top: 0%
    }

    .background-letter {
        font-size: calc(500px + 1vw)
    }

    .background-letter--u {
        -webkit-transform: translate(110px, 425px);
        transform: translate(110px, 425px)
    }

    .background-letter--i {
        -webkit-transform: translate(-40px, 425px);
        transform: translate(-40px, 425px)
    }

    .background-letter--d {
        -webkit-transform: translate(110px, 425px);
        transform: translate(110px, 425px)
    }

    .background-letter--o {
        -webkit-transform: translate(-150px, 1800px);
        transform: translate(-150px, 1800px)
    }
}

.button--close {
    float: right;
    margin-top: 42px;
    margin-right: 20px;
    padding: 20px;
    fill: white;
    background-color: #333333;
    cursor: pointer;
    position: fixed;
    z-index: 3;
    right: 16px;
    text-align: center;
}

.button--close img {
    display: block;
    height: 25px;
}

.navbar-default {
    border: none;
    background-color: transparent
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #3c3c3c;
    background-color: transparent
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #333333;
    border: none
}

.navbar-default .navbar-toggle {
    border: none
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0px;
    padding: 20px 19px;
    margin-top: 0px;
    margin-bottom: -1px;
    background-color: #404040;
    background-image: none;
    border: none;
    border-radius: 0px;
    margin-right: 0px
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 0px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px
}

.nav>li>a {
    padding: 15px 15px;
}

.navbar-nav>li {
    float: left;
    font-size: 12px;
    margin-left: 50px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase
}

.container .row:not(:last-child){
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: -15px;
        padding: 0px 100px;
        margin-left: -15px
    }

    .navbar-fixed-top.scrolled {
        background-color: #fff !important;
        transition: background-color 200ms linear;
        -webkit-transition: background-color 200ms linear;
        -moz-transition: background-color 200ms linear;
        -o-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }
}

.navbar-toggle {
    z-index: 1
}

.navbar-toggle .icon-bar {
    width: 25px;
    background: #fff;
    transition: .2s ease
}

.navbar-toggle.collapsed .icon-bar:nth-child(2) {
    transform: rotate(0)translateY(0)translateX(0)
}

.navbar-toggle.collapsed .icon-bar:nth-child(3) {
    opacity: 1
}

.navbar-toggle.collapsed .icon-bar:nth-child(4) {
    transform: rotate(0)translateY(0)translateX(0)
}

.navbar-toggle .icon-bar:nth-child(2) {
    transform: rotate(-45deg)translateY(6px)translateX(-4px)
}

.navbar-toggle .icon-bar:nth-child(3) {
    opacity: 0
}

.navbar-toggle .icon-bar:nth-child(4) {
    transform: rotate(45deg)translateY(-7px)translateX(-5px)
}

.wrapper--posts {
    display: flex;
    flex-flow: wrap;
}

@media screen and (max-width: 767px) {
    .wrapper--posts {
        padding: 0px 10px
    }

    .navbar-nav>li {
        float: none;
        margin-left: 0px;
        text-align: center;
        padding: 0px 0px
    }

    .nav>li>a {
        padding: 30px 0px;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: 0px solid transparent;
        background-color: white;
        transform: translateY(-67px);
        -webkit-transform: translateY(-67px);
        -moz-transform: translateY(-67px);
        -ms-transform: translateY(-67px);
        -o-transform: translateY(-67px);
    }
}

.is-background-white {
    background-color: white;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, .15);
    padding: 0;
    margin-bottom: 30px;
    cursor: pointer;
    z-index: 1000;
    display: block;
}

.full-width-post-kader {
    width: 100%;
    display: block;
    cursor: pointer
}

.card-post__image-wrapper {
    position: relative;
    cursor: pointer
}

.overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .2s linear;
    transition: .2s linear
}

a.has-no-underline:hover,
a.has-no-underline:focus,
a.has-no-underline:active,
a.has-no-underline:visited {
    text-decoration: none;
    cursor: pointer
}

.card-post__text-wrapper {
    padding: 30px 40px;
    display: flex;
    flex-flow: column;
    position: relative
}

.card-post__title {
    font-family: 'Arial Black', 'arial', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #404040
}

.card-post__intro {
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #616161;
    line-height: 1.6;
    margin-bottom: 20px
}

.card-post__categorie {
    margin-bottom: 0px;
    color: #939393;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700
}

.card-post__read-more {
    float: left;
    font-family: 'arial', sans-serif;
    font-size: 15px;
    color: #808080;
    text-decoration: underline;
    margin-bottom: 0px
}

.cta-show-more {
    text-align: center;
    margin-top: 40px
}

.cta-show-more a {
    background-color: #333333;
    padding: 15px 60px;
    color: #f2f2f2;
    text-align: center;
    font-family: 'arial', sans-serif;
    text-decoration: none
}

a.button--secondary {
    background-color: transparent;
    padding: 15px 60px;
    color: #f2f2f2;
    display: block;
    text-align: center;
    font-family: 'arial', sans-serif;
    text-decoration: none;
    border: 1px solid #f2f2f2
}

@media screen and (max-width: 992px) {
    .card-post__text {
        padding: 55px 60px;
        padding-bottom: 70px
    }
}

@media screen and (max-width: 767px) {
    .card-post__text {
        padding: 35px 40px;
        padding-bottom: 50px
    }
}

.about-me--wrapper {
    margin-top: 100px;
    background-color: #333333;
    padding: 70px 0px;
    overflow-x: hidden;
    position: relative;
    width: 100%
}

.about-me--wrapper__text {
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.about-me--wrapper__resume,
.about-me--wrapper__resume:hover,
.about-me--wrapper__resume:active,
.about-me--wrapper__resume:focus {
    color: white;
    font-weight: 500;
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    .about-me--wrapper__image {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 360px;
    }

    .about-me--wrapper__text {
        line-height: 1.7
    }
}

footer {
    height: 50%
}

footer {
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: 40%
}

footer .is-bold {
    font-weight: bold
}

.footer__subtitle {
    margin-top: 125px
}

.footer__subtitle {
    font-size: 19px;
    font-family: 'arial', sans-serif;
    margin-bottom: 0px
}

.footer__title {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
    word-break: break-all;
}

.footer__title {
    cursor: pointer
}

.footer__title:hover,
.footer__title:active,
.footer__title:focus {
    color: #333
}

.wrapper--social-media {
    text-align: center;
    list-style-type: none;
    top: 75px;
    margin-bottom: 24px;
    margin-top: 80px;
    padding-left: 0px
}

.wrapper--social-media li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0px
}

.wrapper--social-media__text,
.wrapper--social-media__text:hover,
.wrapper--social-media__text:active,
.wrapper--social-media__text:focus {
    color: #3c3c3c;
    font-family: 'arial', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px
}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
    background-color: #F5F5F5
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #4c4c4c
}

.title--product {
    margin-top: 0;
    text-align: left;
    font-size: 50px;
    color: #4c4c4c;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}

h2.title--product {
    font-size: 35px;
    margin-top: 0;
}


.info--product,
.info--product a {
    color: #333
}

.info--product a {
    text-decoration: underline;
}

.info--product {
    margin-top: 30px;
    line-height: 24px;
    font-size: 15px;
}

.link,
.link:hover,
.link:active,
.link:focus {
    color: #333
}

.info--product-bold {
    font-weight: 700;
    color: #333
}

.wrapper--product-photo {
    background-color: #343644;
    width: 100%;
    padding: 75px 0px;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, .3)
}

.product-photo {
    width: 45%;
    display: block;
    margin: 0 auto
}

.product-photo--wide {
    width: 85%;
}

.product-photo--secondary {
    width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 10px 18px 0px rgba(217,217,217,0.35);
}

@media screen and (min-width: 767px) {
    .wrapper--product-photo {
        height: 550px;
        overflow-y: hidden;
    }

    .overflowY {
        overflow-y: scroll !important;
    }
}

@media screen and (max-width: 767px) {
    .product-photo {
        width: 100%
    }

    .wrapper--product-photo {
        padding: 35px;
    }
}

.has-spacing-top {
    margin-top: 150px;
}

a.has-cursor-pointer:hover p{
    cursor: pointer;
    text-decoration: underline
}

.arrow {
    margin-top: 10px;
    height: 70px
}

.arrow--prev {
    float: left;
    margin-right: 20px;
}

.arrow--next {
    float: right;
    margin-left: 20px;
}

.arrow--next__text,
.arrow--prev__text {
    font-size: 18px;
    margin-top: 35px;
    color: #333333;
    font-family: 'arial', sans-serif
}

.arrow--prev__text {
    float: left;
}

.arrow--next__text {
    float: right;
}

a.button--close {
    background-color: #333333;
    padding: 15px 80px;
    color: #f2f2f2;
    text-align: center;
    font-family: 'arial', sans-serif;
    text-decoration: none;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 200px;
    margin-top: 20px
}

@media screen and (min-width: 992px) {
    .is-background-white:hover .overlay {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        text-decoration: none
    }

    a.button--secondary:hover {
        background-color: #fafafa;
        color: #333333
    }

    .button--close:hover,
    .cta-show-more a:hover,
    a.button--close:hover {
        background-color: #191919
    }
}

@media screen and (max-width: 992px) {
    .is-background-white:active .overlay {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        text-decoration: none
    }

    .cta-show-more a:active {
        background-color: #191919
    }

    a.button--secondary:active {
        background-color: #fafafa;
        color: #333333
    }

    a.button--close:active {
        background-color: #191919
    }

    .about-me--wrapper__resume {
        text-align: center
    }
}

.is-relative {
    position: relative
}

.wrapper--buton {
    width: 100%;
}

.wrapper--buton {
    display: inline-flex;
}

.about-me--wrapper__skills {
    color: #f2f2f2;
}

.about-me--wrapper__skills ul {
    line-height: 25px;
}

.badges {
    margin-top: 16px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.badges .badge {
    display: inline-block;
    padding: 5px 12px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 100px;
    background-color: #343644;
    color: white;
}

.badges .badge:not(:last-child){
    margin-right: 10px; 
}

.overlay--hero {
    margin-top: 42px;
    width: 100%;
    padding-top: 50%;
    position: relative;
}

.overlay--the-valley {
    background: linear-gradient(30deg, #520000, #E02C35);
    background: -o-linear-gradient(30deg, #520000 0%, #E02C35 100%);
    background: linear-gradient(30deg, #520000 0%, #E02C35 100%);
}

.overlay--tournament {
    background: linear-gradient(30deg, #000219, #045742);
    background: -o-linear-gradient(30deg, #000219 0%, #045742 100%);
    background: linear-gradient(30deg, #000219 0%, #045742 100%);
}

.overlay--festival {
    background: linear-gradient(30deg, #021531, #093A83);
    background: -o-linear-gradient(30deg, #021531 0%, #093A83 100%);
    background: linear-gradient(30deg, #021531 0%, #093A83 100%);
}

.overlay--library {
    background: linear-gradient(30deg, #942C00, #FF832A);
    background: -o-linear-gradient(30deg, #942C00 0%, #FF832A 100%);
    background: linear-gradient(30deg, #942C00 0%, #FF832A 100%);
}

.overlay--pokemon {
    background: linear-gradient(30deg, #4160A6, #47A6EB);
    background: -o-linear-gradient(30deg, #4160A6 0%, #47A6EB 100%);
    background: linear-gradient(30deg, #4160A6 0%, #47A6EB 100%);
}

.overlay--inholland {
    background: linear-gradient(30deg, #CA0088, #FF64CC);
    background: -o-linear-gradient(30deg, #CA0088 0%, #FF64CC 100%);
    background: linear-gradient(30deg, #CA0088 0%, #FF64CC 100%);
}

.overlay--hero > div {
    display: flex;
    align-items: center;
    position: absolute; left: 0; right: 0; bottom: 0; top: 0;
}

.overlay--hero img {
    width: 200px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .wrapper--buton {
        display: block;
    }

    .button--close {
        fill: white;
        margin-top: 20px;
        margin-right: 0px;
    }

    .overlay--hero img {
        width: 30vw;
        min-width: 120px;
    }
}
