@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply text-white-200;
    @apply bg-black-400;
    scroll-behavior: smooth;
  }

  button {
    line-height: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p.eyebrow,
  .text-subtitle {
    @apply font-heading;
  }

  ul,
  li,
  a,
  button,
  p {
    @apply font-base;
  }

  .image-grid img, .image-relative {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  .gradient-shadow img {
    z-index: 1;
  }

  .gradient-shadow::after {
    --translateX: 10px;
    --translateY: 10px;
    --scale: 1;
  
    content: "";
    @apply bg-background;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(var(--translateX),var(--translateY),0) scale(var(--scale))
  }
}

@layer utilities {

  .border-gradient-background {
    background:
      linear-gradient(#0A0A0A, #0A0A0A) padding-box,
      linear-gradient(-90deg, #DD117E 0%, #C079FE 48.96%, #9FD9FF 100%) border-box;
    border-color: transparent;
  }

  .border-gradient-background:hover {
    background:
      linear-gradient(rgba(10, 10, 10, 0.88), rgba(10, 10, 10, 0.88)) padding-box,
      linear-gradient(-90deg, #DD117E 0%, #C079FE 48.96%, #9FD9FF 100%) border-box;
  }

  .border-gradient-background:active {
    background:
      linear-gradient(rgba(10, 10, 10, 0.79), rgba(10, 10, 10, 0.79)) padding-box,
      linear-gradient(-90deg, #DD117E 0%, #C079FE 48.96%, #9FD9FF 100%) border-box;
  }

  .divider-gradient-background::after,
  .divider-gradient-background::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(6px);
    height: 1px;
    transition: all 300ms ease-out;
  }

  .divider-gradient-background::after {
    background-color: #FEFEFE;
    width: 100%;
  }

  .divider-gradient-background::before {
    width: 0%;
  }

  .divider-gradient-background:hover::before {
    z-index: 1;
    width: 100%;
    @apply bg-background;
  }
  
  .bg-gradient:hover {
    @apply bg-background;
  }

  .divider-gradient-background:active::after,
  .divider-gradient-background:active::before {
    transform: translateY(12px);
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1287.0380859375;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .animation-dash {
    animation: dash 2500ms linear forwards;
  }

  .clip-inset {
    clip-path: inset(0% var(--clip) 0% 0%)
  } 
}