@config "./tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    color: var(--color-text);
    background-color: var(--color-background-300);
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
p.eyebrow {
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Nunito Sans", system-ui, sans-serif;
  font-weight: 400;
}